:root {
    /* main colors */
    --regular_text:#333531;
    --bg_gradient_color_1: #f5f5f57d;
    --bg_gradient_color_2: #7a7a7a1f;
    --regular-box-shadow-color: gray;
    --button-border-color: #333531;
    --story-hover-shadow-color: blue;
    --story-hover-bg-color: red;
    --img-border-color: #888980a6;
    --top-title-color: #8b8b8b91;
    --dialogue-color: #5f5f5f;
    --rob-color: #CCFE02;
    --coin-color: #0f4eff;
    --twitter-color: #2e9df0;
    --cancel-color: #ff3232;
    --fresh-lawsuit-color: #ff3232;
    --down-market-color: #ff794c;
    --up-market-color: #3baf5a;


  /* From 98.css https://jdan.github.io/98.css/ */
  --text-color: #222222;
  --surface: #c0c0c0;
  --button-highlight: #ffffffd4;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --window-frame: #4b4b4b;
  --dialog-blue: #000080;
  --dialog-blue-light: #1084d0;
  --dialog-gray: #808080;
  --dialog-gray-light: #b5b5b5;
  --link-blue: #0000ff;
  --range-spacing: 10px;

  --border-width: 1px;
  --border-raised-outer: inset -1px -1px var(--window-frame),
  inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
  inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight),
  inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face),
  inset 2px 2px var(--button-shadow);
  --default-button-border-raised-outer: inset -2px -2px var(--window-frame), inset 1px 1px var(--window-frame);
  --default-button-border-raised-inner: inset 2px 2px var(--button-highlight), inset -3px -3px var(--button-shadow), inset 3px 3px var(--button-face);
  --default-button-border-sunken-outer: inset 2px 2px var(--window-frame), inset -1px -1px var(--window-frame);
  --default-button-border-sunken-inner: inset -2px -2px var(--button-highlight), inset 3px 3px var(--button-shadow), inset -3px -3px var(--button-face);



  --radio-width: 12px;
  --checkbox-width: 13px;
  --radio-label-spacing: 6px;
  --range-track-height: 4px;
  --range-spacing: 10px;

  /* Some detailed computations for radio buttons and checkboxes */
  --radio-total-width-precalc: var(--radio-width) + var(--radio-label-spacing);
  --radio-total-width: calc(var(--radio-total-width-precalc));
  --radio-left: calc(-1 * var(--radio-total-width-precalc));
  --radio-dot-width: 4px;
  --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
  --radio-dot-left: calc(
    -1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var(
        --radio-dot-width
      ) / 2
  );

  --checkbox-total-width-precalc: var(--checkbox-width) +
    var(--radio-label-spacing);
  --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
  --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
  --checkmark-width: 7px;
  --checkmark-left: 3px;  
}

input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  background: 0;
  position: fixed;
  opacity: 0;
  border: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  line-height: 13px;
}

input[type="radio"] + label {
  position: relative;
  margin-left: var(--radio-total-width);
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * (var(--radio-total-width-precalc)));
  display: inline-block;
  width: var(--radio-width);
  height: var(--radio-width);
  margin-right: var(--radio-label-spacing);
  background: url("./icon/radio-border.svg");
}

:disabled,
:disabled + label,
input[readonly],
input[readonly] + label {
    color: var(--button-shadow);
    -webkit-font-smoothing: none;
}

input[type="radio"]:active + label::before {
  background: url("./icon/radio-border-disabled.svg");
}


input[type="radio"]:checked + label::after {
  content: "";
  display: block;
  width: var(--radio-dot-width);
  height: var(--radio-dot-width);
  top: var(--radio-dot-top);
  left: var(--radio-dot-left);
  position: absolute;
  background: url("./icon/radio-dot.svg");
}

input[type="radio"]:focus + label,
input[type="checkbox"]:focus + label {
  outline: 1px dotted #000000;
}

input[type="radio"][disabled] + label::before {
  background: url("./icon/radio-border-disabled.svg");
}

input[type="radio"][disabled]:checked + label::after {
  background: url("./icon/radio-dot-disabled.svg");
}

input[type="checkbox"] + label {
  position: relative;
  margin-left: var(--checkbox-total-width);
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: calc(-1 * (var(--checkbox-total-width-precalc)));
  display: inline-block;
  width: var(--checkbox-width);
  height: var(--checkbox-width);
  background: var(--button-highlight);
  box-shadow: var(--border-field);
  margin-right: var(--radio-label-spacing);
}

.field-row {
    display: flex;
    align-items: center;
    cursor: url("../img/cursor.png"), auto;
  }
  
  [class^="field-row"] + [class^="field-row"] {
    margin-top: var(--grouped-element-spacing);
  }
  
  .field-row > * + * {
    margin-left: var(--grouped-element-spacing);
  }
  
  .field-row-stacked {
    display: flex;
    flex-direction: column;
  }
  
input {
    cursor: url("../img/cursor.png"), auto;    
}

label {
    cursor: url("../img/cursor.png"), auto;
    font-size: 10px;
}

.field-row-stacked * + * {
    margin-top: var(--grouped-element-spacing);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
}
  
input[type="range"]:focus {
    outline: none;
}

/* input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 23px;
    width: 22px; 
    background: url('./icon/indicator-horizontal.svg') no-repeat center/contain;
    background-size: contain;
    cursor: url("../img/hand-cursor.png"), auto;
    background-position: 10px 50%;
    box-shadow: none;
    transform: translateY(-11px);
    border: none;
  } */

  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 26px;
    width: 21px;
    background: url('./icon/indicator-horizontal.svg') no-repeat center/contain;
    cursor: url("../img/hand-cursor.png"), auto;
    margin-top: -12px; 
    background-position: 7px 50%;
    margin-left: -3px;    
    box-shadow: none;
    border: none;
}

  input[type="range"].has-box-indicator::-webkit-slider-thumb {
    /* background: url("./icon/indicator-rectangle-horizontal.svg"); */
    transform: translateY(-10px);
    background-color: orange;
}
  
  input[type="range"]::-moz-range-thumb {
    background: url('./icon/indicator-horizontal.svg') no-repeat center/contain;
    cursor: url("../img/hand-cursor.png"), auto;
    height: 23px; /* Larger height for a bigger vertical hit area */
    width: 22px;  /* Larger width for a bigger horizontal hit area */
    border: 0;
    border-radius: 0;
    transform: translateY(2px);
  }
  
  input[type="range"].has-box-indicator::-moz-range-thumb {
    background: url('./icon/indicator-horizontal.svg') no-repeat center/contain;
    cursor: url("../img/hand-cursor.png"), auto;
    height: 21px;
    width: 11px;
    border: 0;
    border-radius: 0;
    transform: translateY(2px);
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    background: black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 darkgrey,
      -1px -1px 0 darkgrey, 0 -1px 0 darkgrey, -1px 1px 0 white, 1px -1px darkgrey;
  }
  
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    background: black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 darkgrey,
      -1px -1px 0 darkgrey, 0 -1px 0 darkgrey, -1px 1px 0 white, 1px -1px darkgrey;
  }
  
  .is-vertical {
    display: inline-block;
    width: 4px;
    height: 150px;
    transform: translateY(50%);
  }
  
  .is-vertical > input[type="range"] {
    width: 150px;
    height: 4px;
    margin: 0 calc(var(--grouped-element-spacing) + var(--range-spacing)) 0
      var(--range-spacing);
    transform-origin: left;
    transform: rotate(270deg) translateX(calc(-50% + var(--element-spacing)));
  }
  
  .is-vertical > input[type="range"]::-webkit-slider-runnable-track {
    border-left: 1px solid grey;
    border-right: 0;
    border-bottom: 1px solid grey;
    box-shadow: -1px 0 0 white, -1px 1px 0 white, 0 1px 0 white, 1px 0 0 darkgrey,
      1px -1px 0 darkgrey, 0 -1px 0 darkgrey, 1px 1px 0 white, -1px -1px darkgrey;
  }
  
  
  .is-vertical > input[type="range"]::-moz-range-track {
    border-left: 1px solid grey;
    border-right: 0;
    border-bottom: 1px solid grey;
    box-shadow: -1px 0 0 white, -1px 1px 0 white, 0 1px 0 white, 1px 0 0 darkgrey,
      1px -1px 0 darkgrey, 0 -1px 0 darkgrey, 1px 1px 0 white, -1px -1px darkgrey;
  }
  
  .is-vertical > input[type="range"]::-webkit-slider-thumb {
    transform: translateY(-8px) scaleX(-1);
  }
  
  .is-vertical > input[type="range"].has-box-indicator::-webkit-slider-thumb {
    transform: translateY(-10px) scaleX(-1);
  }
  
  .is-vertical > input[type="range"]::-moz-range-thumb {
    transform: translateY(2px) scaleX(-1);
  }
  
  .is-vertical > input[type="range"].has-box-indicator::-moz-range-thumb {
    transform: translateY(0px) scaleX(-1);
  }

legend,
ul.tree-view,
.window,
.title-bar,
li[role=tab] {
      font-family: "Pixelated MS Sans Serif", Arial;
      -webkit-font-smoothing: none;
      font-size: 11px;
}

legend {
    background: none;
}  

fieldset {
    border-image: url("./icon/groupbox-border.svg") 2;
    padding: calc(2 * var(--border-width) + var(--element-spacing));
    padding-block-start: var(--element-spacing);
    margin: 0;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/ms_sans_serif.woff") format("woff");
    src: url("fonts/ms_sans_serif.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
  
  @font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/ms_sans_serif_bold.woff") format("woff");
    src: url("fonts/ms_sans_serif_bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

.graph-container {
    width: 170px;
    padding: 5px;
    height: 100px;
    background: transparent;
    /* border: 2px solid black; */
    /* padding: 4px; */
}

/* path { */
    /* fill: var(--cancel-color); */
    /* stroke: var(--surface); */
    /* stroke-width: 3; */
/* }   */

.progress-indicator {
	height: 32px;
	position: relative;
    box-shadow: var(--border-sunken-inner);
    padding: 4px 4px;
    border: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

  .progress-indicator > .progress-indicator-bar {
    height: 100%;
    display: block;
    background-color: var(--dialog-blue);
  }

  #work-progress {
    width: 0%;
  }

  .workItem {
    width: 46px;
    height: 14px;
  }

  .workItem:hover {
    color: var(--dialog-blue);
    cursor: url("../img/hand-cursor.png"), auto;
  }

.sunken-panel {
    box-sizing: border-box;
    border: 2px groove transparent;
    border-image: url("./icon/sunken-panel-border.svg") 2;
    overflow: auto;
}

#nftStack {
    top: -117px;
    left: -84px;
    position: relative; /* Needed for absolute positioning inside */
}

#kikiField {
    margin-right: 5px;
}

#mintNFT {
    font-size: 15px;
    margin: 0px;
}

#nftCurveRangeField {
    display: none;
}

#nftCurveSpacer {
    height: 20px;
    width: 162px;
}

#nftSpacer {
    height: 120px;
    width: 200px;
}

.nftSlider {
    width: 100px;
    margin: 13px;
}

.nft-svg {
    position: absolute;
}

  
  .progress-indicator.segmented > .progress-indicator-bar {
    width: 100%;
    background-color: transparent; /* resets the background color which is set to blue in the non-segmented selector */
    background-image: linear-gradient(
      90deg,
      var(--dialog-blue) 0 16px,
      transparent 0 2px
    );
    background-repeat: repeat;
    background-size: 18px 100%;
}


table {
    border-collapse: collapse;
    position: relative;
    text-align: left;
    white-space: nowrap;
  }

  table > thead > tr > * {
    position: sticky;
    top: 0;
    height: 17px;
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    background: var(--button-face);
    box-sizing: border-box;
    font-weight: normal;
    /* padding: 0 var(--grouped-element-spacing); */
    padding-left: 3px;
    padding-right: 3px;
  }

.workWarning {
    font-style: italic;
    display: none;
}

#midWarning {
    color: rgb(132, 0, 0);
}

#highWarning {
    color: red;
}
  
  table.interactive > tbody > tr {
    cursor: url("../img/hand-cursor.png"), auto;
  }
  
  table > tbody > tr.highlighted {
    color: #fff;
    background-color: var(--dialog-blue);
  }
  
  table > tbody > tr > * {
    padding: 0px 3px 0px 3px;
    height: 14px;
  }
  

::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 17px;
  }
  
  ::-webkit-scrollbar-corner {
    background: var(--button-face);
  }
  
  ::-webkit-scrollbar-track {
    background-image: url("./icon/scrollbar-background.svg");
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--button-face);
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  }
  
  ::-webkit-scrollbar-button:horizontal:start:decrement,
  ::-webkit-scrollbar-button:horizontal:end:increment,
  ::-webkit-scrollbar-button:vertical:start:decrement,
  ::-webkit-scrollbar-button:vertical:end:increment {
    display: block;
  }
  
  ::-webkit-scrollbar-button:vertical:start {
    height: 17px;
    background-image: url("./icon/button-up.svg");
  }
  ::-webkit-scrollbar-button:vertical:end {
    height: 17px;
    background-image: url("./icon/button-down.svg");
  }
  ::-webkit-scrollbar-button:horizontal:start {
    width: 16px;
    background-image: url("./icon/button-left.svg");
  }
  ::-webkit-scrollbar-button:horizontal:end {
    width: 16px;
    background-image: url("./icon/button-right.svg");
  }

/* End 98.css */














html {
    background: linear-gradient(to left, 
                                var(--bg_gradient_color_1),
                                var(--bg_gradient_color_2)),
                                url(../img/noise.svg);
    font-weight: lighter;
    cursor: url("../img/cursor.png"), auto;
    font-family: "Pixelated MS Sans Serif", sans-serif;
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

#particles-js{
    position: fixed;
    width: 108%;
    height: 108%;
    margin-top: -8%;
    margin-left: -8%;
    z-index: -1;
    background: transparent;
    /* display: none; */
}

#debug {
    position: fixed;
    bottom: 2px;
}

#cash {
    position: fixed;
    right: 5px;
}

#levelBadge {
    position: fixed;
    left: 5px;
}

.plot {
    font-size: 11px;
    color: var(--button-shadow);
}

#networth {
    position: fixed;
    left: 5px;
    display: none;
}

#storyDiv {
    position: fixed;
    left: 5px;
    font-size: 12px;
}


/* Container stuff */
.container {
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* 768 small stuff */
@media (max-width: 610px) {
    .container {
        margin: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}



.rob-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px dotted var(--button-shadow);
    /* border-image: url("./icon/groupbox-border.svg") 2;     */
    padding: 3px;
}

.lawsuit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border-image: url("./icon/groupbox-border.svg") 2;     */
    padding: 3px;
}

.freshLawsuit {
    color: var(--fresh-lawsuit-color);
}

.coin-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

#lawyerCountSpan {
    width: 15px;
    text-align: center;
}

.lawyer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

.container-vertical-center {
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container-center {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-center-nft {
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-vertical {
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-stat-div {
    text-align: right;
    margin: 5px;
}

.content-divider {
    text-align: center;
}

/* General */
  
.item {
    width: 180px;
    height: 300px;
    margin: 5px;
    flex-grow: 0;

    box-shadow: var(--border-raised-outer), var(--border-raised-inner); /*  */
    border: none; /*  */
    background-color: transparent;
    color: var(--regular_text);
    padding: 5px;
    font-size: 13px;
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
    display: none;
    overflow-y: auto; /* Enables scrolling */


}

.item:hover {
    outline: 1px dotted var(--button-shadow);
    outline-offset: -4px;    
}
  
.regBtn {
    flex-grow: 0;
    border: none;
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    background-color: transparent;
    color: var(--regular_text);
    padding: 5px 10px 5px 10px;
    font-size: 11px;
    margin: 5px;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    font-family: "Pixelated MS Sans Serif", sans-serif;
}

.regBtn:hover:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);    
    cursor: url("../img/hand-cursor.png"), auto;    
}

.regBtn:active:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    cursor: url("../img/hand-cursor.png"), auto;    
}

.regBtn:focus:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    outline: 1px dotted #000000;
    outline-offset: -4px;    
    cursor: url("../img/hand-cursor.png"), auto;
}


.actionBtn {
    flex-grow: 1;
    border: none;
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    background-color: transparent;
    color: var(--regular_text);
    padding: 10px 20px 10px 20px;
    font-size: 13px;
    margin: 5px;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    display: none;
}

.actionBtn:hover:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);    
    cursor: url("../img/hand-cursor.png"), auto;    
}

.actionBtn:active:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    cursor: url("../img/hand-cursor.png"), auto;    
}

.actionBtn:focus:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    outline: 1px dotted #000000;
    outline-offset: -4px;    
    cursor: url("../img/hand-cursor.png"), auto;
}

/* Robinhood */

#stockindicator {
    display: none;
    text-align: center;
}

.downMarket {
    color: var(--down-market-color);
}

.upMarket {
    color: var(--up-market-color);
}

button:disabled,
button:disabled:active,
button:disabled:hover,
button:disabled:focus,
button[disabled],
button[disabled]:active,
button[disabled]:focus,
button[disabled]:hover {
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-highlight);    
    font-family: "Pixelated MS Sans Serif", Arial;
    -webkit-font-smoothing: none;
    background-color: transparent;
    background-color: transparent;
    cursor: url("../img/cursor.png"), auto;    
}

.btn {
    text-align: center;
    user-select: none;    
}

.btn:disabled,
.btn:disabled:active,
.btn:disabled:hover,
.btn:disabled:focus,
.btn[disabled],
.btn[disabled]:active,
.btn[disabled]:focus,
.btn[disabled]:hover {
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-highlight);    
    font-family: "Pixelated MS Sans Serif", Arial;
    -webkit-font-smoothing: none;
    background-color: transparent;
    background-color: transparent;
    cursor: url("../img/cursor.png"), auto;
    outline: none;
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    pointer-events: none;    
}

.btn:hover {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    cursor: url("../img/hand-cursor.png"), auto;     
}

.btn:active {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    cursor: url("../img/hand-cursor.png"), auto;    
}

.btn:focus {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    outline: 1px dotted #000000;
    outline-offset: -4px;    
    cursor: url("../img/hand-cursor.png"), auto;
}



/* button[disabled]:active{
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-highlight);    
    font-family: "Pixelated MS Sans Serif", Arial;
    -webkit-font-smoothing: none;
    cursor: url("../img/cursor.png");
    background-color: pink;
}
 */

.robBtn {
    flex-grow: 0;
    background-color: transparent;
    color: var(--regular_text);
    padding: 5px;
    font-size: 13px;
    width: 60px;
    margin: 5px;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);    
    border: none;
}

.robBtn:hover:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    cursor: url("../img/hand-cursor.png"), auto;    
}

.robBtn:active:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    background-color: var(--rob-color);
    cursor: url("../img/hand-cursor.png"), auto;    
}

.robBtn:focus:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    outline: 1px dotted #000000;
    outline-offset: -4px;    
    cursor: url("../img/hand-cursor.png"), auto;
}

.robValuation:hover {
    cursor: url("../img/hand-cursor.png"), auto;    
    background-color: var(--rob-color);
}

.robValuation:active {
    cursor: url("../img/hand-cursor.png"), auto;    
}

.robValuation:focus {
    cursor: url("../img/hand-cursor.png"), auto;
}

#dontCancelRob {
    display: none;
}

#robSuspensionMessage {
    font-weight: bold;
    display: none;
    font-size: 10px;
}

#cancelRob:active {
    background-color: var(--cancel-color);
}


/* Socials */
#twitterBtn {
    height: 44px;
    display:block;
    line-height: 44px;;
}

.twitterOption {
    display: none;
}

#tweet-container {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px;
}

.tweet-settings-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#tweetCrazyBtn {
    display: none;
}

#twitterTL {
    background-color: transparent;
    font-size: 9px;
    width: 240px;
    max-height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#twitterBtn:active {
    cursor: url("../img/hand-cursor.png"), auto;    
    background-color: var(--twitter-color);
    color: white;
    box-shadow: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--window-frame), inset -2px -2px var(--twitter-color),
    inset 2px 2px var(--button-shadow);
}

#apologyChunk {
    display: none;
}

.tweet {
    font-size: 9px;
    width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* CoinWorld stuff */
.content-stat-div {
    display: none;
    justify-content: space-between;    
}

#myShit {
    display: none;
}

#shitHolder {
    height: 152px;
}

.buyShitBtnSmall {
    flex-grow: 0;
    background-color: transparent;
    color: var(--regular_text);
    padding: 3px;
    font-size: 13px;
    margin: -2px;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    border: none;
}

.buyShitBtnSmall:hover:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    cursor: url("../img/hand-cursor.png"), auto;    
}

.buyShitBtnSmall:active:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    background-color: var(--coin-color);
    color: white;    
    cursor: url("../img/hand-cursor.png"), auto;    
}

.buyShitBtnSmall:focus:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    outline: 1px dotted #000000;
    outline-offset: -4px;    
    cursor: url("../img/hand-cursor.png"), auto;
}

.coinBtn {
    flex-grow: 0;
    background-color: transparent;
    color: var(--regular_text);
    padding: 5px;
    font-size: 13px;
    width: 60px;
    margin: 5px;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    border: none;
}

.coinBtn:hover:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    cursor: url("../img/hand-cursor.png"), auto;    
}

.coinBtn:active:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    background-color: var(--coin-color);
    color: white;
    cursor: url("../img/hand-cursor.png"), auto;    
}

.coinBtn:focus:enabled {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    outline: 1px dotted #000000;
    outline-offset: -4px;    
    cursor: url("../img/hand-cursor.png"), auto;
}

.coinValuation:hover {
    cursor: url("../img/hand-cursor.png"), auto;    
    background-color: var(--coin-color);
    color: white;
}

.coinValuation:active {
    cursor: url("../img/hand-cursor.png"), auto;    
}

.coinValuation:focus {
    cursor: url("../img/hand-cursor.png"), auto;
}


/* Prep */

.prepIcon {
    height: 25px;
    width: 25px;
    margin: 2px;
} 


#prepAssetsHolder {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.prepBtn {
    background-color: transparent;
    color: var(--regular_text);
    padding: 3px;
    white-space: normal;
    word-wrap: break-word;
    flex-grow: 1;
    text-align: center;
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);    
    border: none;
    margin: 0px;
    font-size: 11px;    
}

#prepBuyOptions {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.animated {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}